@use 'app/styles/mixins/mixins.scss' as *;

.Footer {
    width: 100%;
    background-color: var(--black-lighter);

    &__container {
        flex-direction: column;
        padding: 82px 20px 100px;
        max-width: 810px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: flex-start;

        @include mediatablet {
            max-width: 520px;
            padding: 60px 14px 80px;
        }

        @include mediaphone {
            max-width: 300px;
            padding: 30px 10px;
        }
    }

    &__title {
        margin-bottom: 34px;

        @include mediatablet {
            font: var(--font-semi-bold);
            margin-bottom: 22px;
        }

        @include mediaphone {
            font: var(--font-label);
            font-weight: 600;
            margin-bottom: 8px;
        }
    }

    &__span {
        color: var(--gray-light);
        margin-bottom: 22px;

        @include mediatablet {
            margin-bottom: 18px;
        }

        @include mediaphone {
            margin-bottom: 12px;
        }
    }
}

.CommunicationList {
    margin-bottom: 40px;

    @include mediatablet {
        margin-bottom: 30px;
    }

    @include mediaphone {
        margin-bottom: 20px;
    }
}

.SocialList {
    display: flex;

    &__link {
        display: block;
    }

    &__item {
        margin-right: 25px;

        &:last-child {
            margin-right: 0;
        }

        @include mediatablet {
            margin-right: 23px;
        }

        @include mediaphone {
            margin-right: 20px;
        }
    }

    &__image {
        filter: grayscale(100%);
        width: 34px;
        height: 34px;
        transition: filter 0.5s;

        &:hover {
            filter: none;
        }

        @include mediatablet {
            width: 32px;
            height: 32px;
        }

        @include mediaphone {
            width: 30px;
            height: 30px;
        }
    }
}

.Email {
    margin-bottom: 2px;
}