:root {
    // Основной шрифт
    --font-family-main: "Open Sans", "Times New Roman", serif;

    // Размер шрифта Extra
    --font-size-extra: 55px;
    --font-line-extra: 64px;
    --font-weight-extra: 800;
    --font-extra: var(--font-weight-extra) var(--font-size-extra) / var(--font-line-extra) var(--font-family-main);
    
    // Размер шрифта SemiBold
    --font-size-semiBold: 21px;
    --font-line-semiBold: 32px;
    --font-weight-semiBold: 600;
    --font-semiBold: var(--font-weight-semiBold) var(--font-size-semiBold) / var(--font-line-semiBold) var(--font-family-main);

    // Размер шрифта Light
    --font-size-light: 18px;
    --font-line-light: 27px;
    --font-weight-light: 300;
    --font-light: var(--font-weight-light) var(--font-size-light) / var(--font-line-light) var(--font-family-main);

    // Размер шрифта L
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-weight-l: 600;
    --font-l: var(--font-weight-l) var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // Размер шрифта Main
    --font-size-main: 14px;
    --font-line-main: 20px;
    --font-weight-main: 500;
    --font-main: var(--font-weight-main) var(--font-size-main) / var(--font-line-main) var(--font-family-main);

    // Цвет
    --white-primary: #fff;
    --black-primary: #161513;
    --black-secondary: #222222;
    --black-lighter: #191919;
    --black-light: #2A2A2A;
    --black-opacity: rgba(0,0,0, 20);
    --gray-light: #C5C5C5;
    --gray-dark: #8491A0;
    --blue: #1976D2;
    --green: #4CAF50;
    --blue-light: #5BADFF;
    --orange: #FF3D00;
    --yellow: #FFC107;
    --blue-gradient: linear-gradient(#5BADFF 0%, #1373D1 100%);
    --orange-gradient: linear-gradient(#FF8660 0%, #D5491D 100%);
    --orange-purple-gradient-1: linear-gradient(to right, #FF8660 0%, #9A33FF 100%);
    --orange-purple-gradient-2: linear-gradient(#FF8660 0%, #8000FF 100%);
    --white-gradient: linear-gradient(#FDFDFD 0%, rgba(255,255,255, 18) 100%);
}
