.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    height: 64px;
    border-radius: 50px;
    cursor: pointer;
    padding: 16px 30px;
}

.outline {
    color: white;
    background-color: transparent;
    outline: 1px solid white;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, outline 0.3s ease-in-out;

    &:hover {
        outline: none;
        background-color: white;
        color: black;
    }

    &:active {
        outline: none;
    }

    &:focus {
        outline: 2px solid white;
    }
}

.fill {
    background-color: white;
}