@use 'app/styles/mixins/mixins.scss' as *;

.GradientTitle {
    background-clip: text;
    background-image: var(--orange-purple-gradient-1);
    margin-bottom: 40px;

    &::first-line {
        color: transparent;
    }

    &__specialization {
        color: transparent;
    }
}

.SubTitle {
    color: var(--gray-light);
    margin-bottom: 50px;
}

.Buttons {
    display: flex;
    margin-bottom: 88px;
}

.Experience {
    letter-spacing: 2px;
    color: var(--gray-light);
    text-transform: uppercase;
    margin-bottom: 50px;
}

.Stack {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: center;

    &__item {
        margin-right: 60px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.Icon {
    filter: grayscale(100%);
    width: 42px;
    height: 42px;
    transition: filter 0.5s;

    &:hover {
        filter: none;
    }
}

.Projects {
    margin-bottom: 100px;
}

@include mediatablet {
    .Main {
        &__title {
            font: var(--font-bold);
        }
    }

    .Projects {
        margin-bottom: 40px;
    }

    .Experience {
        // font: var(--font-label);
        margin-bottom: 40px;
    }

    .Buttons {
        margin-bottom: 45px;

        &__item {
            max-width: 200px;
            height: 50px;
        }

        &__text {
            font-size: medium;
        }
    }

    .Stack {
        margin-bottom: 60px;

        // flex: 0 0 calc(25% -  42px * 3);
        gap: 20px 30px;

        &__item {
            margin-right: 0;
        }
    }

    .SubTitle {
        margin-bottom: 20px;
    }

    .GradientTitle {
        margin-bottom: 15px;
    }
}

@include mediaphone {
    .Main {
        &__title {
            margin-top: 6px;
            font: var(--font-label);
            line-height: 24px;
        }
    }

    .SubTitle {
        font: var(--font-mini-light);
        margin-bottom: 18px;
    }

    .GradientTitle {
        margin-bottom: 10px;
    }

    .Buttons {
        margin-bottom: 32px;

        &__item {
            max-width: 150px;
            height: 48px;
        }

        &__text {
            font-size: smaller;
            font-weight: 500;
        }
    }

    .Projects {
        margin-bottom: 28px;
    }

    .Experience {
        font: var(--font-main);
        margin-bottom: 20px;
    }

    .Stack {
        margin-bottom: 36px;
        gap: 18px 26px;
    }

    .Icon {
        width: 38px;
        height: 38px;
    }
}