@use 'app/styles/mixins/mixins.scss' as *;

.Header {
    width: 100%;
    background-color: var(--black-secondary);
    padding: 0 20px;

    &__container {
        max-width: 810px;
        height: 82px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;

        @include mediatablet {
            max-width: 640px;
            height: 60px;
        }

        @include mediaphone {
            max-width: 300px;
            height: 50px;
        }
    }

    &__logo {
        display: flex;
        flex-shrink: 0;
        margin-right: auto;
    }

    &__mobileNav {
        display: none;
        flex-direction: column;
        text-align: center;

        @include mediaphone {
            &_active {
                display: flex;
            }
        }

    }

    @include mediatablet {
        padding: 0 10px;
    }
}

.NavigationMobile {
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;

        @include mediaphone {
            padding: 10px;
            padding-bottom: 12px;
        }
    }

    &__item {
        margin-bottom: 20px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        @include mediaphone {
            margin-bottom: 16px;
        }
    }

    &__text {
        @include mediaphone {
            font: var(--font-mini-light);
        }
    }

    &__link {
        color: var(--white-primary);

        &:hover {
            &::after {
                opacity: 1;
            }
        }

        &::after {
            content: '';
            position: absolute;
            opacity: 0;
            bottom: -9px;
            left: 0;
            width: 100%;
            outline: 2px solid white;
            transition: all 0.2s ease-in;

            @include mediaphone {
                bottom: -6px;
            }
        }
    }
}

// .Logo {
//     width: 40px;
//     height: 40px;
// }