.SemiBold {
    font: var(--font-semi-bold);
}

.L {
    font: var(--font-l);
}

.Label {
    font: var(--font-label);
}

.Light {
    font: var(--font-light);
}

.Extra {
    font: var(--font-extra);
}

.Small {
    font: var(--font-small);
}