@use "app/styles/mixins/mixins" as *;

.MainPage {
    background-color: var(--black-primary);
}

.Header {
    margin-bottom: 100px;
}

.Avatar {
    margin-bottom: 41px;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // margin-right: auto;
    // margin-left: auto;
    max-width: 810px;
}

@include mediatablet {
    .Header {
        margin-bottom: 40px;
    }

    .Avatar {
        margin-bottom: 16px;
    }

    .Container {
        max-width: 520px;
    }
}