.SemiBold {
    font: var(--font-semi-bold);
}

.L {
    font: var(--font-l);
}

.Light {
    font: var(--font-light);
}

.Extra {
    font: var(--font-extra);
}

.Small {
    font: var(--font-small);
}

.Bold {
    font: var(--font-bold);
}

.Main {
    font: var(--font-main);
}

.MiniLightBolder {
    font: var(--font-mini-light-bolder);
}