.Navigation {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        margin-right: 71px;

        &:first-child {
            margin-left: 70px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        color: var(--white-primary);
    }
}